

:root {
  /* Variables for colors */
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);
  --dark-blue: hsl(219, 29%, 14%);
  --grey-100: hsl(214, 17%, 92%);
  --grey-200: hsl(0, 0%, 81%);
  --grey-300: hsl(216, 9%, 67%);
  --grey-400: hsl(224, 10%, 45%);
  --grey-500: hsl(217, 19%, 35%);
  --purple-50: hsl(260, 100%, 95%);
  --purple-300: hsl(264, 82%, 80%);
  --purple-500: hsl(263, 55%, 52%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  letter-spacing: 0;
  background-color: #F6F5F6;
  font-family: 'Barlow Semi Condensed', 'Arial Narrow', 'Segoe UI', Tahoma, sans-serif;
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  src: url('./fonts/BarlowSemiCondensed-Medium.woff2') format('woff2'),
    url('./fonts/BarlowSemiCondensed-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  src: url('./fonts/BarlowSemiCondensed-SemiBold.woff2') format('woff2'),
    url('./fonts/BarlowSemiCondensed-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* for h1 */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  width: 305px;
  grid-template-columns: 305px;
  grid-template-rows: auto;
  gap: 32px;
}

.card {
  padding: 32px;
  border-radius: 8px;
  width: 305px;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.24);
}

.card__student-info-box {
  display: flex;
  align-items: center;
}

.card__student-photo {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 18px;
}

.card__student-name { 
  font-weight: 500;
  font-size: 13px;
  line-height: 110%;
  margin-bottom: 5px;
}

.card__verified-graduate {
  font-weight: 500;
  font-size: 11px;
  line-height: 110%;
}

.card__review-text1 {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  margin-top: 16px;
  margin-bottom: 16px;
}

.card__review-text2 { 
  font-weight: 500;
  font-size: 13px;
  line-height: 140%;
}


/* Modifiers */

.card--daniel {
  height: 450px;
  background-color: var(--purple-500);
  margin-top: 73px;
  grid-area: daniel;
}

.card--jonathan {
  height: 246px;
  background-color: var(--grey-500);
  grid-area: jonathan;
}

.card--jeanette {
  height: 226px;
  background-color: var(--white);
  grid-area: jeanette;
}

.card--patrick {
  height: 414px;
  background-color: var(--dark-blue);
  grid-area: patrick;
}

.card--kira {
  height: 503px;
  background-color: var(--white);
  margin-bottom: 73px;
  grid-area: kira;
}




.card__student-photo--purple-border {
  border: 2px solid rgb(167, 117, 241);
  box-sizing: content-box;
}

.card__verified-graduate--purple50 {
  color: var(--purple-50);
}

.card__review-text2--purple50 {
  color: var(--purple-50);
}

.card__student-name--white {
  color: var(--white);
}

/* Чо? */
.card__verified-graduate--grey-300 {
  color: var(--grey-300);
}

.card__review-text1--white {
  color: var(--white);
}

.card__review-text2--grey100 {
  color: var(--grey-100);
}

.card__student-name--grey500 {
  color: var(--grey-500);
}

.card__review-text1--grey500 {
  color: var(--grey-500);
}

.card__verified-graduate--grey400 {
  color: var(--grey-400);
}

.card__review-text2--grey400 {
  color: var(--grey-400);
}

.card__student-photo--purple500-border {
  border: 2px solid var(--purple-500);
  box-sizing: content-box;
}

.card__verified-graduate--white {
  color: var(--white);
}

.card__review-text1--grey200 {
  color: var(--grey-200);
}

@media /*change*/(min-width: 1px) {
  .grid-container/*change*/ {
    width: 647px;
    height: 1157px;
    grid-template-columns: 307.5px 307.5px;
    grid-template-rows: 270px 246px 270px 275px;
    grid-template-areas: 
    "daniel daniel"
    "jonathan jeanette"
    "patrick patrick"
    "kira kira";
    border: 1px solid red;
  }

  .card--daniel {
    width: 647px;
    height: 270px;
    margin-top: 83px;
  }

  .card--jonathan {
    width: 307.5px;
  }

  .card--jeanette {
    width: 307.5px;
    height: 246px;
  }

  .card--patrick {
    width: 647px;
    height: 270px;
  }

  .card--kira {
    width: 647px;
    height: 275px;
    margin-bottom: 113px;
  }
}




